@import url(//fonts.googleapis.com/css?family=Gloria+Hallelujah);

.react-shaky-textarea-hidden {
  display: none;
}

.react-shaky-textarea-active {
  display: block;
}

.react-shaky-canvas-hidden {
  display: none;
}

.react-shaky-canvas-active {
  display: block;
}
